header.mui-bar {
	position:inherit;margin-top:-5px;background:#007AFF;
}
header.mui-bar .mui-action-back {
	color:#FFFFFF;
}
header.mui-bar h1.mui-title {
	color:#FFFFFF;font-size:18px;
}

.mui-btn-primary,.mui-btn-search {
	background:#007AFF;border-color:#007AFF;color: #fff;
}
.mui-btn-primary:enabled:active,.mui-btn-search:enabled:active {
	background:#29B75F;border-color:#29B75F;
}
.mui-tar {
	position:fixed;
	bottom:0px;
	background:#007AFF;
	font-size:25px;
	line-height: 35px;
	width: 100%;
	min-height: 35px;
	text-align: center;
}
.mui-tar span{
	display: block;
	width: 100%;
}
.mui-tar a{
	color: #fff;
	text-decoration: none;
}
